button {
    background-color: #FFFFFF60;
    color: #000000;
    border-radius: 10px;
    font-size: 2rem;
    border: 1px solid #111111;
    outline: none;
}

button:hover {
    background-color: #FFFFFF30;
    color: #FFFFFF60;
}