body {
    background-color: #000000;
}

button {
    cursor: pointer;
    border-radius: 10px;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    width: 25rem;
    display: flex;
    flex-direction: column;
}

.screen {
    width: auto;
    min-height: 10rem;
    padding: 0 .5rem;

    background-color: #FFFFFF80;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: end;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-screen {
    color: #00000090;
    font-size: 3rem;
}

.current-screen {
    color: #000000;
    font-size: 4rem;
}

.special {
    background-color: #FFFFFF40;
}

.digits {
    width: 25rem;
    height: 40rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(1fr, auto) repeat(5, 1fr);
}

.c {
    grid-column: 1;
    grid-row: 1;
}
.back {
    grid-column: 2;
    grid-row: 1;
}
.result {
    grid-column: 4;
    grid-row: span 2;
}
.point {
    grid-column: 3;
    grid-row: 5;
}
.zero {
    grid-column: span 2;
    grid-row: 5;
}
.one {
    grid-column: 1;
    grid-row: 4;
}
.two {
    grid-column: 2;
    grid-row: 4;
}
.three {
    grid-column: 3;
    grid-row: 4;
}
.four {
    grid-column: 1;
    grid-row: 3;
}
.five {
    grid-column: 2;
    grid-row: 3;
}
.six {
    grid-column: 3;
    grid-row: 3;
}
.seven {
    grid-column: 1;
    grid-row: 2;
}
.eight {
    grid-column: 2;
    grid-row: 2;
}
.nine {
    grid-column: 3;
    grid-row: 2;
}